<%- include("header") -%>

    <h2>This is the about page</h2>
    <p>This is sample text which intends to explain the usage of layouts which will ultimately reduce the repeatition of
        code by separating header and footer files,
        and adding them to every webpage using just a single line of code instead of writing the whole code</p>

<%- include("footer") -%>