</body>


<footer>
    Copyright 2021 @Vikas Gupta
</footer>
<!-- We don't want to copy this footer in every webpage that we're planning to display. And we can do so with the help of layouts (or partials) in EJS. (visit ejs.co) -->

</html> 