<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- Adding just this link won't work. See comment on branch 8/22-EJS bottom of app.js to understand why we need to put styles.css under public folder. -->
</head>

<body>